@model Fashion7.Models.DanhMuc
@{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item h5"><a href="QLDanhMuc"><i class="uil-tag-alt"></i> Quản lý danh mục</a></li>
            <li class="breadcrumb-item h5">Thêm danh mục</li>
        </ol>
    </nav>
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHeaderBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
   
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <title>Thêm Danh Mục</title>
</head>
<body>
    <section class="bg-image"
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                      <h2 class="text-uppercase text-center ">Thêm danh mục</h2>
                      @using (Html.BeginForm())
                      {
                          @Html.ValidationSummary(true)
                          <div>
                              Nhập mã danh mục
                              <div>
                                  @Html.EditorFor(model => model.idDM, new { htmlAttributes = new { @class = "form-control" } })
                                  @Html.ValidationMessageFor(model => model.idDM, "", new { @class = "text-danger" })
                              </div>
                          </div>

                          <div>
                              Nhập tên danh mục
                              <div>
                                  @Html.EditorFor(model => model.tenDM, new { htmlAttributes = new { @class = "form-control" } })
                                  @Html.ValidationMessageFor(model => model.tenDM, "", new { @class = "text-danger" })
                              </div>
                          </div>

                          <div class="d-flex justify-content-center align-items-center">
                              <a class="btn btn-dark" href="QLDanhMuc"><i class="fa-solid fa-chevron-left"></i> Quay lại</a>
                              <input type="submit" value="Thêm danh mục" class="btn btn-success m-3" />
                          </div>
                      }

                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>



